<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">


	<select id="login" parameterType="hashmap"
		resultType="MemberDTO">
		select *
		from member
		where userid =#{userid} and passwd=#{passwd}
	</select>

	<insert id="memberAdd" parameterType="MemberDTO">
		insert into member(memberno,userid,passwd,username,nickname,post,
		addr1,addr2,phone,birth,email)
		values( SEQ_MEMBERNO.nextval,#{userid},#{passwd},#{username},#{nickname},#{post},
		#{addr1},#{addr2},#{phone},#{birth},#{email})
	</insert>
<!-- 
	<select id="login" parameterType="hashmap" resultType="MemberDTO">
	  select *
      from member
      where userid = #{userid} and passwd = #{passwd}
	</select> 
 -->
	
</mapper>