<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RaffleMapper">

	<insert id="addResell_r" parameterType="ResellRDTO">
		insert into resell_r
		(resell_rno, memberno, nickname, rafflename, attend_amount, per_price, text, total_price, deadline)
		values (RESELL_R_SEQ_RESELL_RNO.nextval, #{memberno}, #{nickname}, #{rafflename}, #{attend_amount}, #{per_price}, #{text}, #{total_price}, #{deadline})
	</insert>

	<insert id="addSell_r" parameterType="SellRDTO">
		insert into sell_r
		(sell_rno, memberno, nickname, rafflename, raffleprice, raffleamount, text, deadline)
		values (SELL_R_SEQ_SELL_RNO.nextval, #{memberno}, #{nickname}, #{rafflename}, #{raffleprice}, #{raffleamount}, #{text}, #{deadline})
	</insert>
	
	<select id="SellList" resultType="SellRDTO">
		select * from sell_r
	</select>
	
	<select id="ResellList" resultType="ResellRDTO">
		select * from resell_r
	</select>	
	
	<update id="updatingSpot" parameterType = "ResellRDTO">
	update resell_r
	set  attend_amount = #{attend_amount}
	where resell_rno = #{resell_rno}
	</update>
	
	
	<update id="UpdateResell_r" parameterType = "ResellRDTO">
	update resell_r
	set rafflename = #{rafflename}, total_price = #{total_price}
	,attend_amount = #{attend_amount}, deadline = #{deadline}, text = #{text}
	where resell_rno = #{resell_rno}
	</update>
	<update id="UpdateSell_r" parameterType = "SellRDTO">
	update sell_r
	set rafflename = #{rafflename}, raffleprice = #{raffleprice}
	,raffleamount = #{raffleamount},deadline = #{deadline}, text = #{text}
	where sell_rno = #{sell_rno}
	</update>
	
	<select id="ResellRetrieve" parameterType="int" resultType="ResellRDTO">
		select *
		from resell_r
		where resell_rno = #{resell_rno}
	</select>
	
	<select id="SellRetrieve" parameterType="int" resultType="SellRDTO">
		select *
		from sell_r
		where sell_rno = #{sell_rno}
	</select>
	
	<delete id = "DeleteResell_r" parameterType = "HashMap">
	delete 
	from resell_r
	where memberno = #{memberno}
	and resell_rno = #{resell_rno}
	</delete>
	<delete id = "Deletesell_r" parameterType = "HashMap">
	delete 
	from sell_r
	where memberno = #{memberno}
	and sell_rno = #{sell_rno}
	</delete>
	<select id = "mainListS" resultType = "SellRDTO">
	select *
	from (select *
	from sell_r
	order by viewcnt desc)
	where rownum &lt; 4
	</select>
	
	<select id = "mainListS_new" resultType = "SellRDTO">
	select *
	from (select *
	from sell_r
	order by sell_rno desc)
	where rownum &lt; 3
	</select>
	
	<select id = "mainListR" resultType = "ResellRDTO">
	select *
	from (select *
	from resell_r
	order by viewcnt desc)
	where rownum &lt; 4
	</select>
	
	<select id = "mainListR_new" resultType = "ResellRDTO">
	select *
	from (select *
	from resell_r
	order by resell_rno desc)
	where rownum &lt; 3
	</select>
	<select id="RRlist" resultType="ResellRDTO">
	select * from
	(select * from resell_r
	order by resell_rno desc )
	where <![CDATA[rownum<8]]>
	</select>
	<select id="SSlist" resultType="SellRDTO">
	select * from
	(select * from sell_r
	order by sell_rno desc )
	where <![CDATA[rownum<8]]>
	</select>
	
	<update id="RincreaseViewcnt">
		update resell_r
		set viewcnt = viewcnt + 1
		where resell_rno = #{resell_rno}
	</update>	
	<update id="SincreaseViewcnt">
		update sell_r
		set viewcnt = viewcnt + 1
		where sell_rno = #{sell_rno}
	</update>
	
	<insert id="orderSell">
		insert into sorder
		(sell_rno, username, post, addr1, addr2, phone, memberno)
		values (#{sell_rno}, #{username}, #{post}, #{addr1}, #{addr2}, #{phone}, #{memberno})
	</insert>
</mapper>